src/test/resources/avalara-schema-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Avalara Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:avalara="http://www.mulesoft.org/schema/mule/avalara"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/avalara http://www.mulesoft.org/schema/mule/avalara/2.0/mule-avalara.xsd">

        <avalara:config avalaraAccount="${avalaraAccount}" avalaraLicense="${avalaraLicense}" client="${avalaraClient}" name="avalara-config"/>

    <flow name="testFlow">
        <avalara:get-tax>
            <avalara:get-tax-request
        				 companyCode ="#[variable:companyCode]"
                         docType="SALES_ORDER"
                         docDate-ref="#[variable:docDate]"
                         customerCode="#[variable:customerCode]"
                         discount="0.2"
                         originCode="Origin"
                         destinationCode="Dest"
                         detailLevel="TAX"
                         serviceMode="LOCAL"
                         paymentDate-ref="#[variable:paymentDate]"
                         exchangeRate="#[variable:exchangeRate]"
                         exchangeRateEffDate-ref="#[variable:exchangeRateEffDate]">
                <avalara:addresses>
                <avalara:base-address>
                <avalara:base-addres
                    addressCode="some origin code"
                    line1="some line 1"
                    line2="some line 2"
                    line3="some line 3"
                    city="some city"
                    region="some region"
                    postalCode="some postal code"
                    country="some country"
                    taxRegionId="3"
                    latitude="some latitude"
                    longitude="some longitude"
                />
            </avalara:base-address>
            </avalara:addresses>
            <avalara:lines>
                <avalara:line>
                <avalara:line
                    no="some number"
                    originCode="some origin code"
                    destinationCode="some destination code"
                    itemCode="some item code"
                    taxCode="some tax code"
                    qty="#[groovy: new BigDecimal(3.0)]"
                    amount="#[groovy: new BigDecimal(500.5)]"
                    discounted="true"
                    revAcct="some rev acct"
                    ref1="some reference 1"
                    ref2="some reference 2"
                    exemptionNo="some exemption number"
                    customerUsageType="some customer usage type"
                    description="some description"
                    taxIncluded="false"
                    >
                    <avalara:tax-override
                        taxOverrideType="#[groovy:TaxOverrideType.TAX_AMOUNT]"
                        taxAmount="#[groovy:10.0G]"
                        taxDate-ref="#[groovy:new Date()]"
                        reason="some reason"
                    />
                </avalara:line>
                </avalara:line>
                </avalara:lines>
            </avalara:get-tax-request>
        </avalara:get-tax>
        <avalara:commit-tax>
            <avalara:commit-tax-request
        				 	docId="#[variable:docId]"
                            companyCode="#[variable:companyCode]"
                            docType="SALES_ORDER"
                            docCode="#[variable:docCode]"
                            newDocCode="#[variable:newDocCode]"/>
        </avalara:commit-tax>
        <avalara:get-tax-history>
            <avalara:get-tax-history-request
        						 docId="#[variable:docId]"
                                 companyCode="#[variable:companyCode]"
                                 docType="SALES_ORDER"
                                 docCode="#[variable:docCode]"
                                 detailLevel="TAX"/>
        </avalara:get-tax-history>
        <avalara:cancel-tax>
            <avalara:cancel-tax-request
        					docId="#[variable:docId]"
                            companyCode="#[variable:companyCode]"
                            docType="SALES_ORDER"
                            docCode="#[variable:docCode]"
                            cancelCode="UNSPECIFIED"/>
        </avalara:cancel-tax>
        <avalara:validate-address
            date-ref="#[variable:date]">
            <avalara:address line1="#[variable:line1]"
                                  line2="#[variable:line2]"
                                  line3="#[variable:line3]"
                                  city="#[variable:city]"
                                  region="#[variable:region]"
                                  country="#[variable:country]"
                                  postalCode="#[variable:postalCode]"
                                  addressCode="#[variable:addressCode]"
                                  taxRegionId="#[variable:taxRegionId]"
                                  latitude="#[variable:latitude]"
                                  longitude="#[variable:longitude]" />
        </avalara:validate-address>
        <avalara:post-tax>
            <avalara:post-tax-request
                companyCode="#[variable:companyCode]"
                docType="SALES_ORDER"
                docCode="#[variable:docCode]"
                docDate-ref="2010-09-13T01:18:14-07:00"
                totalAmount="1200"
                totalTax="100"
                commit="false"
                newDocCode="#[variable:newDocCode]"
		    />
		</avalara:post-tax>
		
    </flow>

</mule>
